{
    "name": "{{gitUserId}}/{{gitRepoId}}",
    {{#artifactVersion}}
    "version": "{{artifactVersion}}",
    {{/artifactVersion}}
    "description": "{{{appDescription}}}",
    "keywords": [
        "signiflow",
        "openapi",
        "php",
        "sdk",
        "rest",
        "api"
    ],
    "homepage": "https://www.signiflow.com",
    "license": "Apache-2.0",
    "authors": [
        {
            "name": "SigniFlow",
            "email": "support@signiflow.com",
            "homepage": "https://github.com/SigniFlow/connect-php-sdk"
        }
    ],
    "require": {
        "php": ">=7.2",
        "ext-curl": "*",
        "ext-json": "*",
        "ext-mbstring": "*",
        "guzzlehttp/guzzle": ">=6.2"
    },
    "require-dev": {
        "phpunit/phpunit": "^8.0 || ^9.0",
        "friendsofphp/php-cs-fixer": "^2.12"
    },
    "autoload": {
        "psr-4": { "{{escapedInvokerPackage}}\\" : "{{srcBasePath}}/" }
    },
    "autoload-dev": {
        "psr-4": { "{{escapedInvokerPackage}}\\Test\\" : "{{testBasePath}}/" }
    }
}
